#pvpbody{text-align: center;background: #ADB4C2;}
#pvaibody{text-align: center;background: #33A5C1;}
#tutorialbody{text-align: center;background: #956B95;}

html {
    min-width: 1500px;
    position: relative;
}

.displayed{position:absolute;z-index:1;}

#header{
    text-align: center; 
    padding: 5px;
}

#container{
    display:inline-block;
    width:800px; 
    height:800px;
    margin: 0 auto; 
    background: black; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}


#leftcapturedcontainer{
    position: absolute;
    right: 120px;
    left: auto; 
    top: 260px;
    background: black; 
    width:175px; 
    height:390px;
    box-shadow: 0 5px 50px #333;
    padding: 5px; 
}

#rightcapturedcontainer{
    position: absolute;
    left: 120px;
    top: 665px;
    background: black; 
    width:175px; 
    height:390px;
    box-shadow: 0 5px 50px #333;
    padding: 5px; 
}

#gameCanvas{
    position:relative;
    z-index:1;
}