* {
	margin: 0;
	padding: 0;
}

body{
    overflow-x: hidden;
}

.tutorialbody{ 
    background: #956B95;
}

.mainpage{
    background-color: #ADB4C2;
}

.userpage{
    background-color: #ADB4C2;
}

.buttons{
    display: inline-block;
}

.footerbuttons{
    float: right;
}

.logoutbutton{
    float: left;
}

/* CHESS INTRO TUTORIAL IMAGES */
.chessboard{
    height: 550px;
    width:  550px;
    z-index: 2; 
    position: absolute;
    left:70;
    top:100;
}

.queen{
    width: 300px; 
    height: 300px; 
    
    position:absolute;
    left:120;
    top:50;
}

.knight{
    width: 300px; 
    height: 350px; 
    
    position:absolute;
    left:125; 
}

.rook{
    width: 300px; 
    height: 450px; 
    
    position: absolute; 
    left: 130; 
    top: -20; 
}

.pawn{
    max-width: 300px; 
    max-height: 300px; 
    position: absolute; 
    left: 150; 
}

/*  CHESS INTRO TUTORIAL CONTAINERS  */
.piecebox{
    height: 250px;
    width: 450px;
    
    position: absolute; 
    top: 400; 
    left: 40; 
    
    padding: 25px 5px 5px 5px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    
    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;
    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}

.chesspawnbox{
    height: 65px;
    width: 620px;
    font-family: "Arial", "Helvetica", sans-serif;
    
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    
    position:absolute;
    
    left:30; right:0;
    top:20; bottom:0;

    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;

    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}

.chessqueenbox{
    height: 55px;
    width: 620px;
    
    font-family: "Arial", "Helvetica", sans-serif;
    
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    
    position:absolute;
    
    left:30; right:0;
    top:20; bottom:0;

    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;

    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}

.chessbishopbox{
    height: 70px;
    width: 620px;
    font-family: "Arial", "Helvetica", sans-serif;
    
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    
    position:absolute;
    
    left:30; right:0;
    top:20; bottom:0;

    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;

    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}

.queenbox{
    height: 150px;
    width: 450px;
    
    position: absolute; 
    top: 400; 
    left: 40; 
    
    padding: 5px 5px 5px 5px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    
    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;
    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}

.bishopbox{
    height: 200px;
    width: 450px;
    
    position: absolute; 
    top: 420; 
    left: 40; 
    
    padding: 25px 5px 5px 5px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    
    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;
    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}

.knightbox{
    height: 285px;
    width: 450px;
    
    position: absolute; 
    top: 400; 
    left: 40; 
    
    padding: 2px 5px 5px 5px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    
    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;
    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}


#usertop{
    text-shadow: 2px 2px black;
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-family: arial; 
}

#subtop{
    text-shadow: 2px 2px black;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: arial; 
}

#top{
    text-shadow: 2px 2px black;
    text-align: center;
    color: #ADB4C2;
    font-size: 50px;
    font-family: arial; 
    line-height: 100px;
}

.contact {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 450px;
  margin: 40px auto 0;
  width: 350px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.register{
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 370px;
  margin: 20px auto 0;
  width: 298px;   
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.useropt{
  text-align: center;
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 10px;
  padding-left: 50px;
  height: 335px;
  margin: 20px auto 0;
  width: 450px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

/* Chess Intro Tutorial Containers*/
.chesspawntutorial{
  height: 650px;
  width: 600px;
    
  position: relative; 
  margin: 20px auto 0;

  text-align: center;
  background: #F0E0F0;
  border: 1px solid #42464b;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;

  padding: 50px 50px 50px 50px;
  display: -webkit-flex; 
  display: flex;
}

.piecetutorial{
  height: 700px;
  width: 450px;
    
  position: relative; 
  margin: 20px auto 0;

  text-align: center;
  background: #F0E0F0;
  border: 1px solid #42464b;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;

  padding: 50px 50px 50px 50px;
  display: -webkit-flex; 
  display: flex;
}

/* Entry and Exit Page for Tutorials */
.endusertutorial{
    width: 450px;
    height: 200px;
  
    position: relative; 
    margin: 30px auto 0;
    
    text-align: center;
    background: #F0E0F0;
    border: 1px solid #42464b;
    border-radius: 10px;
    padding: 50px 0px 0px 50px;
  
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}
.usertutorial{
    width: 450px;
    height: 335px;
  
    position: relative; 
    margin: 30px auto 0;
    
    text-align: center;
    background: #F0E0F0;
    border: 1px solid #42464b;
    border-radius: 10px;
    padding: 50px 0px 0px 50px;
  
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

input[type="password"], input[type="username"],input[type="email"],input[type="name"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}

.show-password {
  display: block;
  height: 16px;
  margin: 26px 0 0 28px;
  width: 87px;
}


/*  CHESS INTRO TUTORIAL BUTTONS */
.inline{
    display: inline; 
    position: absolute; 
}

input[type="imgforback"]
{  
    width: 200px;
    height: 50px; 
    
    margin-top: 650px;
    margin-left: 15px; 
        
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    
    color:#fff;
    text-decoration:none;
    text-align:center;
    
    cursor:pointer;
    border: none;  
    background-color: #956B95;
    border-radius: 30px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}


input[type="tutorialforback"]
{  
    width: 200px;
    height: 50px; 
    
    margin-top: 575px; 
    margin-left: 55px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    
    color:#fff;
    text-decoration:none;
    text-align:center;
    
    cursor:pointer;
    border: none;  
    background-color: #956B95;
    border-radius: 30px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
} /* END TUTORIAL RELATED BUTTONS */

input[type="posttutorialpage"]{
    width: 400px;
    height: 50px; 
    
    display: inline-block; 
    margin-left: -50px;
    
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    
    color:#fff;
    text-decoration:none;
    text-align:center;
    
    cursor:pointer;
    border: none;  
    background-color: #956B95;
    border-radius: 30px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

input[type="tutorialpage"]{
    width: 400px;
    height: 50px; 
    
    display: inline-block; 
    
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    
    color:#fff;
    text-decoration:none;
    text-align:center;
    
    cursor:pointer;
    border: none;  
    background-color: #956B95;
    border-radius: 30px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

input[type="user"]
{    
    width: 400px;
    height: 50px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 0px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #ADB4C2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

input[type="logout"]
{
    width: 120px;
    height: 50px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#ADB4C2;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin: 29px 29px 29px 29px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
}

input[type="index"]
{
    width: 240px;
    height: 70px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 29px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #ADB4C2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

input[type="submit"] {
  width:240px;
  height:35px;
    
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
    
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #ADB4C2;
  padding-top:6px;
    
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
    
  background-color: #ADB4C2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.9;
  width: 270px;
}

.buttonwrap{
    position: relative;
    height: 100px;
    width: 399px; 
}

.buttondescription_tutorial{
    position: absolute;
    margin-left: 120px;
    background: #686C74; 
    color: #FFF; 
    
    visibility: hidden;
    opacity: 0;
}

.buttondescription{
    position: absolute;
    margin-left: 30px;
    background: #686C74; 
    color: #FFF; 
    
    visibility: hidden;
    opacity: 0;
}

.buttonwrap:hover .buttondescription_tutorial{
    visibility: visible;
    opacity: 0.75;
}

.buttonwrap:hover .buttondescription{
    visibility: visible;
    opacity: 0.75;
}

input[type="user"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

input[type="logout"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

input[type="index"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

#loading-image {
    height: 100px;    
    width: 100px;
    display: block;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: auto;
    position: absolute;
    z-index: 100;
}