html { height: 100% }

.tutorialbody{ 
    background: #956B95;
}

.mainpage{
    background-color: #ADB4C2;
}

.userpage{
    background-color: #ADB4C2;
}

.footerbuttons{
    float: right;
}

.logoutbutton{
    float: left;
}

.chessboard{
    height: 550px;
    width:  550px;
    
    position:absolute;
    left:0; right:0;
    top:600; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.pawn{

    width: 200px; 
    height: 300px; 
    
    position:absolute;
    left:0; right:0;
    top:200; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.chesspawnbox{
    height: 70px;
    width: 620px;
    font-family: "Arial", "Helvetica", sans-serif;
    
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    
    position:absolute;
    left:0; right:0;
    top:-100; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;

    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;

    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}

.piecebox{
    height: 250px;
    width: 450px;
    font-family: "Arial", "Helvetica", sans-serif;
    
    font-weight:bold;
    font-size: 16px;
    color: #FFF;
    position:absolute;
    left:0; right:0;
    top:780; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;

    text-align: center;
    background: #956B95;
    border: 1px solid #FFF;
    border-radius: 30px;

    box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 5px 5px 5px #999;
}

#usertop{
    text-shadow: 2px 2px black;
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-family: arial; 
}

#subtop{
    text-shadow: 2px 2px black;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: arial; 
}

#top{
    text-shadow: 2px 2px black;
    text-align: center;
    color: #ADB4C2;
    font-size: 50px;
    font-family: arial; 
    line-height: 100px;
}

.contact {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.register{
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 370px;
  margin: 20px auto 0;
  width: 298px;   
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.useropt{
  text-align: center;
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 10px;
  padding-left: 50px;
  height: 335px;
  margin: 20px auto 0;
  width: 450px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.chesspawntutorial{
  text-align: center;
  background: #F0E0F0;
  border: 1px solid #42464b;
  border-radius: 10px;
  padding-left: 50px;
  height: 800px;
  margin: 20px auto 0;
  width: 600px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.piecetutorial{
  text-align: center;
  background: #F0E0F0;
  border: 1px solid #42464b;
  border-radius: 10px;
  padding-left: 50px;
  height: 800px;
  margin: 20px auto 0;
  width: 450px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

.usertutorial{
  text-align: center;
  background: #F0E0F0;
  border: 1px solid #42464b;
  border-radius: 10px;
  padding-left: 50px;
  height: 335px;
  margin: 20px auto 0;
  width: 450px;
  box-shadow: inset 1px 1px 1px #CC99FF, 3px 5px 0px 0px #686C74, 10px 10px 5px #999;
}

input[type="password"], input[type="username"],input[type="email"],input[type="name"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}

.show-password {
  display: block;
  height: 16px;
  margin: 26px 0 0 28px;
  width: 87px;
}

input[type="tutorialforback"]
{  
    width: 200px;
    height: 50px; 
    
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-align:center;
    
    left:-20; right:0;
    top:670; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;

    position:relative;
    cursor:pointer;
    border: none;  
    
    background-color: #956B95;
    border-radius: 30px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

input[type="tutorialpage"]
{    
    width: 400px;
    height: 50px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 0px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #956B95;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

input[type="user"]
{    
    width: 400px;
    height: 50px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 0px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #ADB4C2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

input[type="logout"]
{
    width: 120px;
    height: 50px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#ADB4C2;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin: 29px 29px 29px 29px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
}

input[type="index"]
{
    width: 240px;
    height: 70px; 
    font-family: "Arial", "Helvetica", sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 29px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #ADB4C2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

input[type="submit"] {
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #ADB4C2;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #ADB4C2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #CC99FF, 0px 5px 0px 0px #686C74, 0px 10px 5px #999;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.9;
  width: 270px;
}

.buttonwrap{
    position: relative;
    height: 100px;
    width: 399px; 
}

.buttondescription_tutorial{
    position: absolute;
    margin-left: 120px;
    background: #686C74; 
    color: #FFF; 
    
    visibility: hidden;
    opacity: 0;
}

.buttondescription{
    position: absolute;
    margin-left: 30px;
    background: #686C74; 
    color: #FFF; 
    
    visibility: hidden;
    opacity: 0;
}

.buttonwrap:hover .buttondescription_tutorial{
    visibility: visible;
    opacity: 0.75;
}

.buttonwrap:hover .buttondescription{
    visibility: visible;
    opacity: 0.75;
}

input[type="user"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

input[type="logout"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

input[type="index"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

#loading-image {
    height: 100px;    
    width: 100px;
    display: block;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: auto;
    position: absolute;
    z-index: 100;
}